<div class="col-md-11 toppad">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @user.name %> <%= @user.surname %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
          <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
        </div>
        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>Роль</td>
              <td><%= @user.role %></td>
            </tr>
            <tr>
              <td>Статус</td>
              <td><% if @user.inactive? %>
                    <small>Не активирован</small>
                  <% else %>
                    <small>Активирован</small>
                  <% end %>
              </td>
            </tr>
            <tr>
              <td><b>Рейтинг</b></td>
              <td><b>
                  <%= @user.rating %>
              </b></td>
            </tr>
            <tr>
              <td><b>Кол-во заказов</b></td>
              <td><b><%= @user.orders.count %></b></td>
            </tr>
            <tr>
              <td>Дата регистрации:</td>
              <td>06/23/2013</td>
            </tr>
            <tr>
              <td>Телефон</td>
              <td><%= @user.phone %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if @user == current_user %>
      <div class="panel-footer">
        <%= link_to 'Редактировать имя', edit_path, class: 'btn btn-success' %>
        <%= link_to 'Изменить телефон и пароль', edit_user_registration_path, class: 'btn btn-success' %>
        <%= link_to 'Добавить документы', documents_path, class: 'btn btn-info' if can? :read, Document %>
        <%= link_to 'Добавить машину', add_car_path, class: 'btn btn-info', id: 'add_car' if can? :create, Car %>
      </div>
    <% end %>
  </div>
  <%= render 'cars/panel' if @user.worker? %>
  <h3>Отзывы:</h3>
  <%= render @user.comments %>
</div>