<% if @order.errors.any? %>
    <%= pluralize(@order.errors.count, "error") %> prohibited this article from being saved:
    <% @order.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= simple_form_for @order do |f| %>
  <%= f.input :from_city %>
  <%= f.input :to_city %>
  <%= f.input :cargo %>
  <%= f.input :price %>
  <%= f.input :about %>
  <div class="form-actions">
    <%= f.submit 'Создать заказ', class: "btn btn-default" %>
  </div>
<% end %>