<div class="col-md-8 col-md-offset-1">
  <article>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <figure>
          <% if order.find_coordinates.nil? %>
              <img src="images/map_error.png" alt="">
          <% else %>
              <img src="https://maps.googleapis.com/maps/api/staticmap?size=800x600&path=enc%3A<%= order.find_coordinates %>&key=AIzaSyDrmZlm2IRmyAf7e-Zl6WCzRquP5zOgy7Y" alt="">
          <% end %>
        </figure>
      </div>
      <div class="col-sm-6 col-md-8">
            <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>
              <%= order.offers.count %>
            </span>
        <h4>Из: <%= order.from_city%></h4>
        <h4>В: <%= order.to_city%></h4>
        <p>Что: <%= order.cargo %></p>
        <p>Вес: <%= order.weight %></p>
        <p>Оплата: <%= order.price %></p>
        <p>Описание: <%= order.about %></p>
        <section>
          <i class="glyphicon glyphicon-user"></i><%= "#{order.user.name} #{order.user.surname}" %>
          <i class="glyphicon glyphicon-calendar"></i><%= order.created_at.strftime("%Y-%m-%d") %>
          <i class="glyphicon glyphicon-eye-open"></i><%= order.number_of_views %>
          <%= link_to 'Информация', order_path(order), class: 'btn btn-success btn-sm pull-right', id: ('show_order_'+order.id.to_s) %>
        </section>
      </div>
    </div>
  </article>
</div>