<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <h2 class="text-warning">ЗАКАЗ</h2>
        <p><span class="label label-success"><%= @order.status %></span></p>
        <ul>
          <li>Откуда: <%= @order.from_city %></li>
          <li>Куда:<%= @order.to_city %></li>
          <li>Что: <%= @order.cargo %></li>
          <li>Цена: <%= @order.price %></li>
          <li>Вес: <%= @order.weight %></li>
          <li>Объем: <%= @order.volume %></li>
          <li>Тип транспорта: <%= @order.transport %></li>
          <li>Дата отправки: <%= @order.departure_date %></li>
          <li>Метод оплаты: <%= @order.payment_method %></li>
          <li>Температурный режим: <%= @order.temperature_regime %></li>
          <li>Метод погрузки: <%= @order.loading_type %></li>
        </ul>
        <p>Дополнительно: <%= @order.about %></p>
        <%= link_to 'Удалить заказ', close_order_path(@order), method: :post if can? :close, @order %>
        <%= link_to 'Завершить заказ', complete_order_path(@order), method: :post if can? :complete, @order %>
        <hr>
        <%= render 'comments/form' if can? :comment, @order %>
        <%= render @order.comments %>
        <hr>
        <% if can? :create, @offer and @order.offers.where(user: current_user).empty? %>
            <%= render 'offers/form', order: @order %>
        <% end %>
        <hr>
        <h1><small class="pull-right"><%= @order.offers.count %> предложений</small></h1>
        <% if can? :read, @offer %>
            <% if @order.status =="open" %>
                <%= render @order.offers %>
            <% else %>
                <%= render @order.selected_offer %>
            <% end %>
        <% elsif current_user.role == 'worker' %>
            <%= render  @order.offers.where(user: current_user)%>
        <% end %>
      </div>
    </div>
  </div>
</div>