<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <h2 class="text-warning">ЗАКАЗ</h2>
        <p><span class="label label-success"><%= @order.status %></span></p>
        <ul>
          <li>Откуда: <%= @order.from_city %></li>
          <li>Куда:<%= @order.to_city %></li>
          <li>Что: <%= @order.cargo %></li>
          <li>Цена: <%= @order.price %></li>
        </ul>
        <p>Дополнительно: <%= @order.about %></p>
        <%= link_to 'Удалить заказ', order_path(@order), method: 'delete' if can? :destroy, @order %>
        <hr>
        <% if can? :create, @offer and @order.offers.where(user: current_user).empty? %>
            <%= render 'offers/form', order: @order %>
        <% end %>
        <hr>
        <h1><small class="pull-right"><%= @order.offers.count %> предложений</small></h1>
        <% if can? :read, @offer %>
            <%= render @order.offers %>
        <% elsif current_user.role == 'worker' %>
            <%= render  @order.offers.where(user: current_user)%>
        <% end %>
      </div>
    </div>
  </div>
</div>