
    <h1 >Предложения:</h1>

    <%=  simple_form_for(Offer.new) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :order_id, value: order.id %>
      </div>

      <div class="form-group">
        <%= f.input :about %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :status, value: 'new' %>
      </div>


      <div class="form-group">
          <%= f.submit "Создать", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
