<div class="row">
  <div class="col-md-12">
    <div class="page-header">
    </div>
    <div class="comments-list">
      <div class="media">
        <p class="pull-right">
          <small>5 days ago</small>
        </p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/1/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name"><%= link_to offer.user.name, users_show_path(offer.user) %></h4>
          <%= offer.about %>
          <p>
            <small>
              <%= link_to 'Удалить', offer_path(offer), method: 'delete' if can? :destroy, offer %>
              <%= link_to 'Изменить', edit_offer_path(offer) if can? :update, offer %>
              <% unless offer.accepted %>
                  <%= link_to 'Принять', accept_offer_path(offer), class: "btn btn-success", method: :post if can? :accept, offer %>
                  <% else %>
              <%= link_to 'Расторгнуть!', reject_offer_path(offer), class: "btn btn-danger", method: :post if can? :reject, offer %>
                  <% end %>
            </small>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>