<div class="row">
    <div class="col-sm-12">
        <h1>Users <%= link_to 'Add users', new_admin_user_path, class: 'btn btn-success' %></h1>
    </div>
</div>

<hr />

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th style="width: 100px;">Actions</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.phone %></td>
        <td>
            <%= link_to 'Edit', edit_admin_user_path(user) %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
    </tr>
    <% end %>
</table>
