<!DOCTYPE html>
<html>
  <head>
    <title>Trucking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/application/navbar' %>
    
    <% if user_signed_in? %>
      <% if current_user.role == 'customer' %>
        <%= render 'users/customer' %>
      <% elsif current_user.role == 'worker' %>
        <%= render 'users/worker' %>
      <% end %>
    <% else %>
      <h1>У НАС ВСЕ ОК</h1>
    <% end %>

    
    <%= yield %>
  </body>
</html>
